.button {
  border-radius: 5px;
  padding: 7px 13px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  background-color: #a4a3a34e;
}

.button:hover {
  transition: 0.5s;
  background: #ccc;
}
